{{#if user.linkCount}}

	<h4 class="page-header">{{label}} ({{user.linkCount}})</h4>

	{{#each user.links as |link|}}
		 <div class="media">
			<div class="media-left">
				<img class="media-object img-thumbnail identicon" src={{link.identiconUrl}} />
			</div>
			<div class="media-body">
				<h4>
					<a href={{link.shortHref}}>{{link.shortUrl}}</a>
				</h4>
				<b>{{link.url}}</b>
				<span class="pull-right text-muted">
					<small>
						last click <b>{{link.last_click}}</b>
					</small>
				</span>
			</div>
		</div>

		<hr/>
	{{/each}}

{{/if}}
